@model Object
@{
    ViewData["Title"] = ViewBag.Title;
}

<div id="app">
    <gml-header></gml-header>
    <gml-sidebar :sports="sports" v-if="displaySidebar"></gml-sidebar>
    <div style="margin: -18px 0px;">
        <div style="position: relative;">
            <router-link to="/" style="position: absolute; left: 240px;color: white; text-decoration: underline; font-size: 20px;top: -16px;">Home</router-link>
            <router-link to="/offers" style="position: absolute; left: 315px;color: white; text-decoration: underline; font-size: 20px;top: -16px;">Offers</router-link>
            <button type="button" style="position: absolute;left: 895px;color: white;top: -76px;color: #FFF;background-color: #ff0042;margin-right: 2px;font-size: 12px;font-weight: 400;text-align: center;padding: 9px 25px;line-height: 1em;border-radius: 2px;border: 0px;">Register</button>
            <button style="position: absolute;left: 1003px;color: white;top: -76px;color: #253340;background-color: #ecedf1;box-shadow: 0 1px 0 0 #babbbe;margin-right: 2px;font-size: 12px;font-weight: 400;text-align: center;padding: 9px 25px;line-height: 1em;border-radius: 2px;border: 0px;" type="button">Login</button>
        </div>
        <router-view />
    </div>
    <gml-footer></gml-footer>
</div>


@section scripts {
     <script type="text/javascript" src="/js/vueapp.js"></script>
}